<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">新闻类别添加</div>
    </div>
    <div class="panel-body">
        <form class="container-fluid">
            <div class="row form-group">
                <label class="col-lg-2" for="menuName">类别名称:</label>
                <span class="col-lg-10"><input ng-model="newClass.className" class="form-control" type="text" id="menuName" name="cfl"/>
                </span>
            </div>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-11">
                    <button class="btn btn-primary" ng-click="subMit()">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>