<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">新闻添加</div>
    </div>
    <div class="panel-body">
        <form class="container-fluid">
            <div class="row form-group">
                <label class="col-lg-2" for="menuName">菜单名称:</label>
                <span class="col-lg-10"><input class="form-control" type="text" id="menuName" name="menuName"/> </span>
            </div>
            <div class="row form-group">
                <label class="col-lg-2" for="menuUrl">菜单URL:</label>
                <span class="col-lg-10"><input class="form-control" type="text" id="menuUrl" name="menuUrl"/> </span>
            </div>
            <div class="row form-group">
                <label class="col-lg-2" for="cflMenu">父菜单:</label>
                <span class="col-lg-10"><input class="form-control" type="text" id="cflMenu" name="cflMenu"/> </span>
            </div>
            <div class="row form-group">
                <label class="col-lg-2" for="menuOrder">排序:</label>
                <span class="col-lg-10"><input class="form-control" type="text" id="menuOrder"
                                               name="menuOrder"/> </span>
            </div>
            <div class="row">
                <div class="col-lg-1 col-lg-offset-11">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>